@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #f1f6fc31;
}

h3 {
  font-size: 50px;
}

p {
  color: #0000009c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
  height: 100%;
}

.btnclick {
  background-color: #4f9cf9;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
  border: none;
  width: fit-content;
}

.btnclick:hover {
  background-color: #3580db;
}

header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgImage {
  background-position: center top;
  height: 100vh;
}

.bgImage1 {
  background-image: linear-gradient(rgba(61, 90, 255, 0.2), rgba(0, 0, 0, 0)),
    url("/img/Background1.png");
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 60px;
}

.logo {
  max-width: 150px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 130px;
  height: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s;
  position: relative;
}

nav ul a::after {
  content: "";
  background-color: #4f9cf9;
  height: 2px;
  width: 0%;
  display: block;
  transition: 0.3s;
  margin: 0 auto;
}

nav ul a:hover::after {
  width: 70%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 90px;
}

.banner .banner-text img {
  max-width: 90%;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.banner .banner-text button {
  border: none;
  background-color: white;
  width: fit-content;
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.animate {
  animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline {
  from {
    outline: 0px solid white;
  }
  to {
    outline: 10px solid rgba(255, 255, 255, 0.074);
  }
}

.about_us {
  background: linear-gradient(180deg, #D5E0E3 0%, #B8C6E9 100%);
}

.container-iframe {
  max-width: 900px;
}

.container-iframe-video {
  padding: 50% 0 0 0;
}

.btn-chevron {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chevron {
  font-size: 30px;
}

.img-professional {
  max-width: 250px;
}

.container-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 35px 0;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  color: #20384c;
}

.container-about img {
  max-width: 350px;
  min-width: 250px;
}

.container-about img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Footer */

.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 60px 0px 250px;
  position: relative;
  overflow-x: hidden;
}
.container-footer {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.profilepic {
  max-width: 100%;
  border-radius: 50%;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.justify-text {
  text-align: justify;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.new_footer_top .f_social_icon a:hover {
  background: #4f9cf9;
  border-color: #4f9cf9;
  color: white;
}

.new_footer_top .f-title {
  margin-bottom: 20px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #20384c;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("/img/FooterBackground.png") no-repeat scroll center 0;
  width: 100%;
  height: 230px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("/img/gif-dna1.gif") no-repeat center center;
  width: 120px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
